/* Estilos para el contenedor del carrito */
.cart-container {
    margin: 20px;
    margin-top: 60px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  /* Estilos para la lista de productos en el carrito */
  .cart-list {
    list-style: none;
    padding: 0;
  }
  
  /* Estilos para cada ítem en el carrito */
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  
  /* Estilos para los detalles de cada ítem en el carrito */
  .item-details {
    flex-grow: 1;
  }
  
  /* Estilos para los botones en el carrito */
  button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c82333;
  }
  
  span {
    justify-content: center;
    align-items: center;
  }